@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

:root {
    --primaryColor-bg: white;
    --secondaryColor-bg: black;
    --primaryTextColor: black;
    --secondaryTextColor: white;
    --leftWidth: 45%;
    --mainContentWidth: 90%;
    --rightContentWidth: 45%;
    --documentHeight: 80vh;
}

body {
    width: var(--mainContentWidth);
    display: flex;
    padding: 2rem calc((100% - var(--mainContentWidth))/2);
    font-family: 'Space Mono', monospace;
}

main {
    display: flex;
    height: var(--documentHeight);
}

/**********************
1. left section
**********************/
#left-section {
    background-image: url("images/code.avif");
    background-repeat: no-repeat;
    background-size: auto var(--documentHeight);
    background-color: #4CAF50;
    background-position: left top;
    width: var(--leftWidth);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#left-section > p {
    color: var(--secondaryTextColor);
}

#logo {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--secondaryTextColor);
    background: rgb(18,34,67, 0.9);
    width: 40vw;
}

#logo > p {
    font-size: 2rem;
    padding-left: 2rem;
}

#top-container {
    display: flex;
    align-items: end;
    height: 40vh;
}

#bot-container {
    display: flex;
    align-items: end;
    height: 40vh;
    color: var(--secondaryTextColor);
}

/**********************
1.1 Animation for logo
**********************/
.fa-github {
    color: var(--secondaryTextColor);
    font-size: 4rem;
    transition: transform 0.3s ease-in-out;
}

.fa-github:hover {
    transform: rotate(360deg) scale(1.2);
}

a:visited {
    text-decoration: none;
    color: inherit;
} 


/**********************
2. right section 1
**********************/
#right-section {
    width: calc(100% - var(--leftWidth));
}

#div1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 20vh;
}

#div1 p {
    width: clamp(45ch, 50%, 75ch);
    padding-left: 2rem;
}

/**********************
3. right section 2
**********************/
#div2 {
    box-shadow: 0 5px 2px grey;
}

#form-container {
    height: 40vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 1rem 2rem 0rem 2rem;
}

#form-container div {
    display: flex;
    flex-direction: column;
}

form input {
    height: 1.5rem;
    width: 15rem;
}

#passwordError, #passwordConfirmError {
    color: red;
    font-size: .8rem;
    height: 8vh;
}

/**********************
4. right section 3
**********************/
#div3 {
    display: flex;
    flex-direction: column;
    height: 20vh;
    padding-top: 1.5rem;
    padding-left: 2rem;
}

#create-account {
    background-color: #22365B;
    border: none;
    border-radius: 5px;
    color: var(--secondaryTextColor);
    width: 200px;
    height: 50px;
}

#create-account:hover {
    transform: scale(1.1);
    
}

#create-account:active {
    transform: scale(1.1) translateY(2px);
}


